.vs/
/bin/
/bin-int/
.gitmodules
Submodules/
releases/
Simulation.sln
Simulation/Simulation.vcxproj
Simulation/Simulation.vcxproj.user
Simulation/Simulation.vcxproj.filters
Simulation/imgui.ini
rebuild-windows-64-vs2022.bat